
@media print {

    .menubar{
        display:none;
    }

    .glyph{
        display: none;      !important;
    }

    #helpBox{
        display:none;       !important;
    }

    #editorContainer{
        display:none;       !important;
    }

    .statusBarContainer{
        display:none;       !important;
    }

    #mainPanel{
        padding-left:0px; !important;
    }

    .outputImg{
        display: block;
        clear:both;
        /*position:absolute;*/
        /*top:0px;*/
        /*left:0px;*/
        width:100%;         !important;
        height:100%;        !important;
        max-width: 100%;    !important;
        max-height: 100%;   !important;
    }

    #footerSizer{
        display: none;      !important;
    }

    div{
        /*border: 10px solid green;*/
    }

}