
@media print {

    .menubar{
        display:none;
    }

    #helpBox{
        display:none;
    }

    #editorContainer{
        display:none;
    }

    .statusBarContainer{
        display:none;
    }

}