
html, body {
    margin: 0px;
    padding: 0px;
    overflow-y: visible;
    overflow-x: visible;
}
body {
    background-color: white;
    font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
    font-size: 100%;
}


.menubar{
    position:fixed;
    z-index: 999;
    top:0px;
    left:0px;
    width:100%;
    background-color: white;
    border-bottom: 1px solid lightgray;
    padding: 0px 2px 2px 2px;
}


button{
    font-size: large;
}
button.choosen{
    background-color: lightgray;
}

.CodeMirror {
    border: 1px solid #eee;
    height: auto;
}
.CodeMirror-scroll {
    height: auto;
    overflow-y: hidden;
    overflow-x: auto;
}

.outputImg{
    float:left;
    padding-bottom: 20px;
    right:0px;
    max-width: 49%;
}


.statusBarContainer{
    width:100%;overflow: hidden;position: fixed; bottom: 0px;left: 0px;z-index: 999;
}


#checkboxGenerateAuto{
    border: 2px solid green;
}